.color-dodgerblue {
  color: dodgerblue;
}
.italic {
  font-style: italic;
}
.profile {
  margin:4rem 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.profile-description {
  margin-left: 4rem;
  width: calc(60% - 4rem);
}
.profile-image-container{
  width: 40%;
}
.profile-image {
  margin-left: auto;
  display: block;
  border-radius: 50%;
  border: 1px solid #999;
  width: 20rem;
  height: 20rem;
  background-image: url("../images/profile.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.profile-header {
  margin-bottom: 2rem;
  font-family: 'Noto Sans KR', sans-serif;
  font-size:1.4rem;
  font-weight: bold;
  color: #333;
}
.profile-simple-contents{
  color: #666;
  font-family: 'Noto Sans KR', sans-serif;
}
.skill {
  max-width: 90%;
  margin: 0 auto;
}
.skill-header{
  display: flex;
  align-items: center;
}
.use-tech {
  width: 10%;
  font-weight: bold;
  font-size: calc(0.5rem + 0.8vw);
  color: #666;
  margin: 0 0 0 1rem;
}
.line {
  height: 1px;
  border-top: dashed 1px #999;
  width: 90%;
}
.skills-list{
  display: flex;
  flex-wrap: wrap;
}
.skills-item {
  display: flex;
  flex-direction: column;
  margin:calc(0.5rem + 1.5vw);
}
.skills-item span{
  display: block;
  width: calc(3rem + 6vw);
  height: calc(3rem + 6vw);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.skills-item p {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: bold;
  margin-top: 1rem;
  color: #666;
  font-size: 1rem;
  text-align: center;
}




.HTML span {
  background-image: url("../images/html.png");
}
.CSS span {
  background-image: url("../images/css.png");
}
.JS span {
  background-image: url("../images/javascript.png");
}
.Node span {
  background-image: url("../images/node.png");
}
.Webpack span {
  background-image: url("../images/webpack.png");
}
.Babel span {
  background-image: url("../images/babel.png");
}
.Eslint span {
  background-image: url("../images/eslint.png");
}
.React span {
  background-image: url("../images/react.png");
}
.Express span {
  background-image: url("../images/express.png");
}
.MySQL span {
  background-image: url("../images/mysql.png");
}
.MongoDB span {
  background-image: url("../images/mongodb.png");
}

@media (max-width: 800px) {
  .profile-description {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
  }
  .profile-image-container{
    display:flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 2rem;
  }
  .profile-image {
    margin: 0;
  }
  .skills-list {
    justify-content: center;
  }
  .profile-simple-contents{
    font-size: calc(0.5rem + 1vw);
  }
}