.account-list {
  width: 100%;
}
.account-image {
  width: 100%;
  height: 600px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  animation: image 2.5s forwards;
}
.account-link{
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}
.account-link a{
  color: #666;
  text-decoration: none;
  font-size: calc(0.5rem + 2vw);
  font-weight: bold;
  animation: image 2.5s forwards;
}
.account-link a:nth-child(1){
  margin-top : 2rem;
}
.account-link a:hover{
  color: dodgerblue;
}
.account-image1{
  background-image: url("../images/account1.png");
}
.account-image2{
  background-image: url("../images/account2.png");
}
.account-image3{
  background-image: url("../images/account3.png");
}



@media (max-width: 1024px) {
  .account-image{
    height: 50vw;
  }
}