.blog-page {
  width: 100vw;
}
.blog-nav {
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 10;
  top: 0;
  left: 0;
  height: 6rem;
  width: 100%;
  border-bottom: 1px solid #ddd;
  background: white;
}
.blog-nav >   div {
  max-width: 1200px;
  width: 100%;
  display: flex;
  align-items: center;
  margin: auto;
}
.blog-header-name {
  text-decoration: none;
  font-size: 2rem;
  color: #666;
  font-weight: 200;
  letter-spacing: 0.3rem;
}
.blog-search-box {
  
  width: calc(5rem + 10vw);
  height: 2rem;
  border: 0;
  background: white;
  margin-left: auto;
  border-bottom: 1px solid #bbb;
}
.blog-search-submit {
  width: 3rem;
  height: 2rem;
  border: 0;
  border-radius: 0.2rem;
  background: darkturquoise;
}
.blog-middle-top {
  max-width: 1200px;
  margin: 3rem auto 0 auto;  
  display:flex;
  flex-wrap: wrap;
  align-items: center;
}
.blog-count {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blog-count p{
  margin: 0 1rem;
  font-size: 0.8rem;
  color: #999;

}
.blog-late-date p {
  font-size: 0.8rem;
  color: #999;
}
.blog-description{
  margin: 0 auto 0 0;
  font-size: 1.5rem;
  font-weight: 200;
  color: #666;
  letter-spacing: 0.2rem;
}
.blog-middle {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.blog-middle-header{
  display:flex;
  align-items: center;
  margin: 3rem 0;
}
.blog-middle-header p {
  margin: 0 1rem;
  font-weight: 100;
  font-size: 1.5rem;
  color: #666;
}
.pin {
  flex: 1;
  height: 1px;
  background: #ddd;
}
.blog-post-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  align-items: center;
}

.blog-post-back{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: rgb(0,0,0,0.5);
  width: calc(1170px / 3);
  height: calc(1170px / 3);
}
.hover-scale {
  transition: 0.2s;
  margin: 5px;
}
.hover-scale:hover {
  transform: scale(1.05);
}

.blog-header-link {
  text-decoration: none;
  margin: 0 1rem;
  font-size: 0.7rem;
  color: dodgerblue;
}
.blog-header-bar{
  display: flex;
  flex-wrap: wrap;
}
@media(max-width: 1200px) {
  .blog-post-list {
    justify-content: center;  
  }
  .blog-middle-top {
    justify-content: center;
  }
  .blog-count {
    margin: 1rem 0;
  }
  .blog-late-date {
    margin: 1rem 0;
  }
}
@media(max-width: 500px) {
  .blog-search-box{
    width: 70%;
    margin-left: 1rem;
  }
  .blog-search-submit{
    width: 10%;
  }
  .blog-nav > div {
    flex-wrap: wrap;
  }
}


/* ================포스트 css */

.blog-post-back p{
  color: white;
  margin: 1rem 1rem;
}
.blog-post-back-title{
  font-weight: bold;
  font-size: 1.5rem;
}