.instagram-image1{
  background-image: url("../images/1.png");
}
.instagram-image2{
  background-image: url("../images/2.png");
}
.instagram-image3{
  background-image: url("../images/3.png");
}
.instagram-image4{
  background-image: url("../images/4.png");
}
.instagram-image5{
  background-image: url("../images/5.png");
}
.instagram-image6{
  background-image: url("../images/6.png");
}
.instagram-image7{
  background-image: url("../images/7.png");
}
.instagram-image8{
  background-image: url("../images/8.png");
}
.instagram-image9{
  background-image: url("../images/9.png");
}
.instagram-image10{
  background-image: url("../images/10.png");
}
.instagram-image11{
  background-image: url("../images/11.png");
}
.instagram-image12{
  background-image: url("../images/12.png");
}

