.modal-page {
  position: absolute;
  top:0;
  right:0;
  left:0;
  bottom:0;
  overflow: scroll;
  max-width: 100%;
  margin: 0 auto;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.modal-page::-webkit-scrollbar {
  display: none;
}