.note-image1{
  background-image: url("../images/note1.png");
}
.note-image2{
  background-image: url("../images/note2.png");
}
.note-image3{
  background-image: url("../images/note3.png");
}
.note-image4{
  background-image: url("../images/note4.png");
}

