/* 헤더부분 */
.post-page {
  max-width: 1200px;
  margin: auto;
}
.post-header h1 {
  color: #666;
  margin: 2rem 0 0 0;
}
.post-header p {
  font-size: 0.7rem;
  color: #666;
  margin-top: 0.2rem;
}
.post-content-cover{
  display:flex;
  width: 100%;
}
.post-content {
  margin-bottom: 5rem;
  width: 80%;
}
.post-right-list{
  width: 20%;
}
.post-right-list a {
  position: sticky;
  color: #666;
  font-size: 1rem;
  text-decoration: none;
}
.post-ul-list {
  position: sticky;
  display:flex;
  flex-direction: column;
  align-items: center;
  right: 0;
  top: 8rem;
  font-size: 1rem;
  width: 100%;
}
.post-ul-list span {
  
}
.post-right-list .post-list-link{
  margin: 0.5rem 0;
  font-weight: 400;
}
.post-tag-list {
  display: flex;
  margin-bottom: 3rem;
}
.post-tag-list > p {
  margin:0;
  padding: 0.5rem;
  flex-shrink: 0;
}
.post-tag-item{
  display:flex;
  justify-content: center;
  border-radius: 1rem;
  align-items: center;
  margin: 0 1rem;
  width: 150px;
  height: 50px;
  background: #eee;
}
.post-tag-item p {
  font-size: 1.5rem;
  color: #666;
}
/* 각각 부분별 css */

.post-code-box {
  background: #ddd;
  color: #333;
  font-style: italic;
}

.post-crimson {
  color: crimson;
}
.post-dodgerblue {
  color: dodgerblue;
}
.post-image {
  margin: 2rem 0;
  width: 100%;
  height: 28vw;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.post-list-link{
  color: #666;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 3rem 0 1rem 0;
}
.post-content-descrition {
  color: #666;
  font-size: 0.9rem;
}
.post-back{
  text-decoration: none;
  color: #666;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid #bbb;
  margin: 2rem 1rem ;
}
.post-back::before{
  content:'⟵';
  margin-right: 1rem;
  border-bottom: 0;
}
