.responsive-image1{
  background-image: url("../images/responsive1.png");
}
.responsive-image2{
  background-image: url("../images/responsive2.png");
}
.responsive-image3{
  background-image: url("../images/responsive3.png");
}

